.blog {
  padding-top: 30px;
}

.blog__list {
  @include reset-list;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 75px;
  margin-top: 40px;

  @media (max-width: $mobile-width) {
    margin: 10px 0 50px;
  }
}

.blog__item {
  border: 2px solid $strong-blue;
  border-radius: $radius20;
  padding: 46px 60px;
  margin-bottom: 45px;
  min-height: 530px;

  @media (max-width: $mobile-width) {
    padding: 20px;
    margin-bottom: 25px;
  }

  img {
    border-radius: $radius10;
    object-fit: cover;
    object-position: -85px;

    @media (max-width: $tablet-width) {
      object-position: bottom;
      width: 100%;
    }
  }

  picture {
    display: flex;
  }

  h3,
  p {
    margin: 0;
    color: $main-white;
  }

  h3 {
    @include font-El(24, 34);
    padding-bottom: 20px;
    padding-top: 30px;

    @media (max-width: $mobile-width) {
      @include resize-txt(20, 30);
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }

  p {
    @include font(16, 22, 300);
    padding-bottom: 40px;

    @media (max-width: $mobile-width) {
      @include resize-txt(13, 20);
      padding-bottom: 20px;
    }
  }
}

.blog__item-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.blog__item-content {
  width: 564px;
  min-height: 430px;
  margin-left: 50px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    min-height: 320px;
  }
}
