.blog {
  padding-top: 30px;
}

.blog__list {
  @include reset-list;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 75px;
  margin-top: 40px;
}

.blog__item {
  border: 2px solid $strong-blue;
  border-radius: $radius20;
  padding: 46px 60px;
  margin-bottom: 45px;
  min-height: 530px;

  img {
    border-radius: $radius10;
    object-fit: cover;
    object-position: -85px;
  }

  picture {
    display: flex;
  }

  h3,
  p {
    margin: 0;
    color: $main-white;
  }

  h3 {
    @include font-El(24, 34);
    padding-bottom: 20px;
    padding-top: 30px;
  }

  p {
    @include font(16, 22, 300);
    padding-bottom: 40px;
  }
}

.blog__item-wrapper {
  display: flex;
}

.blog__item-content {
  width: 564px;
  min-height: 430px;
  margin-left: 50px;
}
