.feedback {
  padding: 75px 0;
  max-width: 1826px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.feedback__list {
  @include reset-list;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
  }
}

.feedback__item {
  min-width: 500px;
  min-height: 276px;
  background-color: $strong-blue;
  padding: 41px 45px 37px;
  opacity: 0.4;
  border-radius: $radius10;
  margin-bottom: 61px;

  blockquote {
    margin: 0;
  }

  blockquote p {
    margin: 0;
    @include font(10, 14, 300);
    color: $main-white;

    &:last-child {
      padding-top: 15px;
    }
  }
}

.feedback__user {
  color: $main-white;
  margin: 0;
  @include font(16, 22, 700);
  padding-bottom: 14px;
}


.feedback__item--active {
  opacity: 1;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  min-width: 636px;
  min-height: 350px;
  padding: 50px 60px 56px;

  .feedback__user {
    @include resize-txt(20, 28);
    padding-bottom: 20px;
  }

  blockquote p {
    @include resize-txt(14, 20);

    &:last-child {
      padding-top: 17px;
    }
  }
}


.feedback__pagination {
  width: 124px;
  min-height: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.feedback__bullet {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: $main-white;
  opacity: 0.4;
  border-radius: $radius3;

  &--active {
    opacity: 1;
  }
}
