.footer {
  flex: 0 0 auto;
  padding: 15px 0 30px;
  position: relative;

  &--border {
    padding-top: 30px;
    border-top: 1px solid $main-white;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  p,
  a {
    color: $main-white;
    @include font(14, 19, 400);

    @media (max-width: $mobile-width) {
      @include resize-txt(12, 17);
    }
  }

  p {
    margin: 0;
  }

  a {
    @include hover;
    font-weight: 700;
  }
}
