.news {
  padding: 30px 0;
}

.news__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(416px, 1fr));
  justify-items: center;
  gap: 24px;
  margin: 40px 0 88px;
}

.news__item {
  display: flex;
  flex-direction: column;
  background: $gradient-sessions, url("../img/about-img.png") no-repeat center/cover;
  border-radius: $radius10;
  width: 416px;
  min-height: 258px;
  padding: 30px 45px 30px 35px;
  cursor: pointer;

  p {
    margin: 0;
    color: $main-white;
    @include font-El(21, 29);
  }
}
