.news {
  padding: 30px 0;
}

.news__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  justify-items: center;
  gap: 24px;
  margin: 40px 0 88px;
}

.news__item {

  @supports not (background: $gradient-sessions, url("../img/about-img.webp") no-repeat center/cover) {
    background: $gradient-sessions, url("../img/about-img.png") no-repeat center/cover;;
  }

  background: $gradient-sessions, url("../img/about-img.webp") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  border-radius: $radius10;
  width: 100%;
  min-height: 258px;
  padding: 30px 45px 30px 35px;
  cursor: pointer;
  transition: $trans--300;

  @include retina {

    @supports not (background: $gradient-sessions, url("../img/about-img@2x.webp") no-repeat center/cover) {
      background: $gradient-sessions, url("../img/about-img@2x.png") no-repeat center/cover;;
    }

    background: $gradient-sessions, url("../img/about-img@2x.webp") no-repeat center/cover;
  }

  p {
    margin: 0;
    color: $main-white;
    @include font-El(21, 29);
  }
}
