// Color

$main-black: #000000;
$main-white: #ffffff;
$mostly-black: #162831;
$strong-blue: #018abe;

// Radius

$radius20: 20px;
$radius10: 10px;
$radius5: 5px;
$radius3: 3px;

// Gradient

$gradient-sessions: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5));
$gradient-sessions-hover: linear-gradient(0deg, rgba(1, 138, 190, 0.7), rgba(1, 138, 190, 0.7));

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$el: "El Messiri", "Arial", sans-serif;
$nova: "Proxima Nova", "Verdana", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
