.button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border: none;
  transition: $trans--300;
  background-color: $strong-blue;
  border-radius: $radius3;
  width: 155px;
  min-height: 36px;
  color: $main-white;
  @include font(13, 18, 600);

  &:hover,
  &:focus-visible {
    background-color: #1dacd6;
  }

  &:active {
    opacity: 0.7;
  }

  &--order {

    @media (max-width: $tablet-width) {
      margin-right: 40px;
    }
  }

  &--close,
  &--burger {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 10;
  }

  &--close {
    background-image: url("../img/icons/icon-close.svg");
    right: 20px;
    top: 20px;
  }

  &--burger {
    display: none;

    @media (max-width: $tablet-width) {
      background-image: url("../img/icons/icon-burger.svg");
      display: block;
      background-color: transparent;
      right: 0;
    }
  }

  &--submit {
    background-color: $main-white;
    color: $main-black;
    border: 2px solid #1dacd6;

    &:hover {
      color: $main-white;
    }
  }

  &--box {
    background-color: $main-white;
    color: $strong-blue;

    &:hover,
    &:focus-visible {
      color: $main-white
    }
  }
}
