.message {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  border-radius: $radius10;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 5%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  background-color: $strong-blue;

  p {
    @include font(18, 24, 700);
    margin: 0;
    color: $main-white;

    @media (max-width: $mobile-width) {
      @include resize-txt(15, 21);
    }
  }
}
