.time {
  @include flex-center;
  width: 96px;
  min-height: 30px;
  background-color: $strong-blue;
  color: $main-white;
  @include font(14, 19, 700);
  border-radius: $radius5;
  margin-bottom: auto;
}
